.number-container{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.number-container > *{
    width: 10%;
    height: 100px;
    background-color: #1389B2;
    border: 7px solid #083B4C;
    text-align: center;
    line-height: 90px;
    color: black;
    font-weight: bold;
}

.fizz-container{
    background-color: #0CD6A1;
}

.buzz-container{
    background-color: #FFD166;
}

.fizzbuzz-container{
    background-color: #F0466F;
}

.blue-color{
    background-color: #083B4C;
}
